<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoadFile</servlet-name>
        <servlet-class>br.fapesp.web.LoadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadFileError</servlet-name>
        <servlet-class>br.fapesp.web.LoadFileError</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadFileDecision</servlet-name>
        <servlet-class>br.fapesp.web.LoadFileDecision</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadFileCondition</servlet-name>
        <servlet-class>br.fapesp.web.LoadFileCondition</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadFile</servlet-name>
        <url-pattern>/LoadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadFileError</servlet-name>
        <url-pattern>/LoadFileError</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadFileDecision</servlet-name>
        <url-pattern>/LoadFileDecision</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadFileCondition</servlet-name>
        <url-pattern>/LoadFileCondition</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
       <error-code>500</error-code>
       <location>/error.jsp</location>
    </error-page>
</web-app>
